body { margin:0; overflow:hidden; font-family:Arial; }

#ui {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  pointer-events: auto;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

canvas {
  pointer-events: none;
}

button {
  padding: 12px 14px;
  background: rgba(0,0,0,0.6);
  color: white;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  margin: 50px;
  font-weight: 700;
  font-size: 16px;
}

#info {
  position: fixed;
  top:20px;
  width:100%;
  text-align:center;
  color:rgb(0, 0, 0);
}

#ARButton {
  position: fixed;
  top: 350px !important;
  right: 910px !important;
  bottom: 350px !important;
  z-index: 9;
  height: 50px;
  margin: 0px;
  color: black !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}